@font-face {
  font-family: 'Graphik Bold';
  src: url('fonts/Graphik-Bold.woff2') format('woff2'),
      url('fonts/Graphik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Regular';
  src: url('fonts/Graphik-Regular.woff2') format('woff2'),
      url('fonts/Graphik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Light';
  src: url('fonts/Graphik-Light.woff2') format('woff2'),
      url('fonts/Graphik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Medium';
  src: url('fonts/Graphik-Medium.woff2') format('woff2'),
      url('fonts/Graphik-Medium.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Semi Bold';
  src: url('fonts/Graphik-Semibold.woff2') format('woff2'),
      url('fonts/Graphik-Semibold.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Junegull';
  src: url('fonts/Junegull-Regular.woff2') format('woff2'),
      url('fonts/Junegull-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body{
  overflow: hidden;
}

body{
  font-family: 'Graphik Regular';
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #9A9A9A;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  letter-spacing: -0.5px;
}

@media(min-width: 1025px){
  body{
    margin: 0 auto;
    max-width: 490px;
  }
}

a{
  outline: none !important;
  text-decoration: none !important;
  cursor: pointer;
}

.hide{
  display: none;
}

.badge{
  font-family: 'Graphik Light';
  font-size: 10px;
}

.bi.bi-eye::after {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 28%;
  height: 28%;
}

.btn{
  border-radius: 30px;
  font-weight: 600;
  font-size: 13px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'Graphik Medium';
  border: 0;
}

.btn-gray{
  background: #EEEEEE;
  color: #0F7BFF !important;
}

.btn-small {
  border-radius: 7px;
  font-size: 13px;
  color: #0F7BFF !important;
}

.btn-primary{
  background-color: #fff !important;
}

.btn-white{
  background-color: #EEEEEE;
}

h1, h2, h3, h4{
  font-family: 'Graphik Medium';
  color: #000;
}

.btn-login{
  min-width: 174.5px;
  background: linear-gradient(95.59deg, #2D8DCE -11.11%, #A4FFFF 84.35%, #52B0DD 109.62%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.error-form{
  margin-top: 14px;
  color: rgb(206, 1, 1);
  font-size: 13px;
}

/* for next js */
span[style*="box-sizing: border-box"] > img[class*="w-100 h-auto"]{
  min-width: 100% !important;
  min-height: unset !important;
  max-height: unset !important;
  bottom: unset !important;
}

span[style*="box-sizing: border-box"]{
  overflow: visible !important;
}

.title{
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 0;
}

.log-out{
  font-family: 'Graphik Medium';
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 15px;
  width: max-content;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  z-index: 2;
}

.container{
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;
  position: relative;
  height: 100vh;
}

.container-home{
  background-image: url('../images/bg-home.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #000;
  display: none;
}

.container-login .modal-content{
  background: unset;
  backdrop-filter: unset;
  border: 0;
  max-width: 320px;
}

.body-login .modal-backdrop{
  opacity: 0 !important;
}

.detail-wrapper{
  overflow: hidden;
  background-color: #000;
}

.preview-detail-slider .owl-item{
  height: 62vh !important;
}

.preview-detail-slider .owl-item img{
  opacity: 0.8;
}

.preview-detail-slider .owl-dots {
  margin-top: -23px !important;
  position: relative;
  z-index: 2;
}

.preview-detail-slider .owl-dots .owl-dot span {
  margin: 5px 4px;
  width: 7px;
  height: 7px;
}

.detail-wrapper > h1{
  color: #fff;
  font-family: 'Graphik Semi Bold';
  font-weight: 600;
  font-size: 47px;
  line-height: 61px;
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 0 30px;
  z-index: 2;
}

.detail-section{
  position: relative;
  height: 100%;
}

.detail-section .detail{
  background: rgba(49, 45, 64, 0.96);
  border-radius: 28px;
  padding: 14px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 30px);
  z-index: 3;
  opacity: 0;
  transition: 0.8s opacity;
}

.preview-detail-slider .owl-item.active .detail-section .detail{
  opacity: 1;
}

.detail .detail-icon{
  border-radius: 12px;
  min-width: 68px;
  max-width: 68px;
  aspect-ratio: 1/1;
  margin-right: 13px;
  align-self: center;
  overflow: hidden;
}

.detail .detail-info{
  color: #fff;
}

.detail .detail-icon img{
  width: 100%;
  height: auto;
}

.detail .detail-info h2{
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  margin-bottom: 6px;
}

.detail .detail-info p{
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  margin-bottom: 0;
  color: #9A9A9A;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.detail .btn{
  background: #7E818D;
  color: #fff;
  margin-left: 14px;
  font-weight: 600;
  font-size: 13px;
}

.list-wrapper{
  width: 100%;
  height: 38vh;
  top: calc(100% - 38vh);
  position: absolute;
  left: 0;
  padding: 0 15px;
  background-color: #fff;
  z-index: 3;
  transition: top 0.3s, height 0.3s;
}

.list-wrapper.list-wrapper-open{
  height: 100vh;
  top: 0;
}

.list-group-inner{
  padding-left: 0;
}

.list-group-games{
  margin-left: -15px;
  margin-right: -15px;
  height: calc(100% - 54px - 42px);
  overflow: hidden;
}

.list-wrapper.list-wrapper-open .list-group-games{
  overflow-y: scroll;
}

.list-header{
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}

.list-header > a{
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  color: #0F7BFF !important;
}

.list-wrapper .list-item{
  border: 0;
  padding: 14px 0;
  color: inherit;
  position: relative;
  border-radius: 0;
  user-select: none;
}

.list-wrapper .list-item.active{
  background-color: #d5f3ff;
}

.list-item-inner{
  padding-left: 15px;
  padding-right: 15px;
}

.list-wrapper:not(.list-wrapper-open) .list-group-inner{
  height: 100%;
  overflow: hidden;
}

.list-wrapper .list-item:not(:last-child):after{
  content: '';
  background-color: #EEEEEE;
  height: 1px;
  display: table;
  width: 60%;
  flex: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.list-wrapper .list-icon{
  border-radius: 12px;
  min-width: 68px;
  max-width: 68px;
  aspect-ratio: 1/1;
  margin-right: 10px;
  align-self: center;
  overflow: hidden;
}

.list-wrapper .list-desc{
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.list-wrapper .list-desc > span{
  font-family: 'Graphik Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-right: 8px;
  color: #000;
  min-width: 14px;
}

.list-wrapper .list-desc h3{
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.list-wrapper .list-desc h3 > .badge{
  margin-left: 6px;
  letter-spacing: 0;
}

.list-wrapper .list-desc p{
  margin-bottom: 0;
  font-size: 12px;
}

.list-wrapper .list-desc p > span{
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.header{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;
}

.header > h3{
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  position: relative;
}

.header > h3 > .back{
  margin-right: 10px;
  position: absolute;
  background: none;
  padding-right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.back{
  width: 30px;
  height: 30px;
  top: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  font-size: 18px;
  color: #000 !important;
}

.back i{
  line-height: 0;
}

.detail-content .bi-box-arrow-up{
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  font-size: 26px;
  z-index: 2;
  cursor: pointer;
}

.detail-content-icon{
  border-radius: 14px;
  width: 78px;
  aspect-ratio: 1/1;
  align-self: center;
  overflow: hidden;
  position: absolute;
  top: -40px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 1;
}

.detail-content-image{
  height: 100vh;
}

.detail-content{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 270px;
  z-index: 2;
}

.detail-content:after{
  content: '';
  background: rgba(40, 40, 40, 0.83);
  backdrop-filter: blur(2px);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}

.detail-content .detail-content-desc{
  max-width: 250px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.detail-content h2{
  color: #fff;
  margin-bottom: 15px;
  font-size: 25px;
}

.detail-content p{
  color: #fff;
  margin-bottom: 15px;
  font-size: 12px;
}

.detail-content .btn{
  color: #fff;
}

.form-group input[type="text"],
.form-group input[type="password"]{
  font-family: 'Junegull';
  background: rgba(217, 217, 217, 0.3);
  border: 1px solid #FDFDFD;
  color: #fff;
  padding: 6px 15px;
  font-size: 12px;
  letter-spacing: 0;
  border-radius: 11px;
}

.modal{
  color: #fff;
}

.modal-content{
  background: linear-gradient(111.49deg, rgba(255, 255, 255, 0.24) -8.95%, rgba(255, 255, 255, 0.006) 114%);
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  max-width: 288px;
  margin: 0 auto;
}

.modal-body{
  padding: 24px 35px;
}

.form-group{
  position: relative;
  color: #fff;
}

.form-group > label{
  font-size: 10px;
  margin-bottom: 4px;
}

.form-group > i {
  position: absolute;
  top: calc(50% + 15px);
  transform: translateY(-50%);
  right: 10px;
}

.modal-backdrop.show{
  opacity: 0.7;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Graphik Regular';
  color: #d1d5df !important;
  letter-spacing: 0;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Graphik Regular';
  color: #d1d5df !important;
  letter-spacing: 0;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Graphik Regular';
  color: #d1d5df !important;
  letter-spacing: 0;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Graphik Regular';
  color: #d1d5df !important;
  letter-spacing: 0;
}

@media(max-height: 482px){
  .detail-wrapper > h1 {
    font-size: 30px;
    line-height: 36px;
    top: 26px;
  }
}